*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: #333333;
}

header nav{
    width: 100%;
    background-color: #333333;
}


header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #333333;
    padding: 10px 0;
    gap: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

header nav ul li{
    transition: transform 0.5s ease-in-out;
}

header nav ul li:hover{
    transform: scale(1.08);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

body{
    background-color: #222222;
}

.container-sobre{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile{
    width: 500px;
    animation: mover 3s infinite alternate;
    position: relative;
}

.img-profile img{
    width: 100%;
}

.info-sobre{
    width: 50%;
    color: #fff;
}

.info-sobre p{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 5px;
}

.info-sobre h1 span{
    color: red;
}


/* Animações */

@keyframes mover{
    0%{
        top: -20px;
    }
    100%{
        top: 20px;
    }
}



/* Responsivo Mobile */
@media (max-width: 1024px){
    .img-profile{
        width: 300px;
    }
}

