*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: #333333;
}

header nav{
    width: 100%;
    background-color: #333333;
}


header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #333333;
    padding: 10px 0;
    gap: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

header nav ul li{
    transition: transform 0.5s ease-in-out;
}

header nav ul li:hover{
    transform: scale(1.08);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

body{
    background-color: #222222;
}

/* Sobre */

.container-sobre{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile{
    width: 500px;
    animation: mover 3s infinite alternate;
    position: relative;
}

.img-profile img{
    width: 100%;
}

.info-sobre{
    width: 50%;
    color: #fff;
}

.info-sobre p{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 5px;
}

.info-sobre h1 span{
    color: red;
}


/* Formação */

.container-formacao{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-formacao{
    width: 500px;
    position: relative;
}

.img-formacao img{
    width: 100%;
}

.info-formacao{
    width: 50%;
    color: #fff;
}

.info-formacao p{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 5px;
}

.info-formacao h1 span{
    color: red;
}


/* Projetos */

.container-portfolio{
    width: 100%;
    height: 100dvh;
    padding: 25px;
    color: #fff;
    text-align: center;
}

.container-portfolio span{
    color: red;
}

.projetos{
    padding: 15px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projetos{
    padding: 40px 5%;
}

.projetos .flex{
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.imgProject{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 45px;
    position: relative;
}

.imgProject:hover{
    background-position: 100% 100%;
}

.overlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #00000079;
    color: #fff;
    opacity: 0;
    transition: 0.4s;
}

.overlay a{
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    font-style: oblique;
    transition: .3s;
}

.overlay a:hover{
    border-bottom: 1px solid #fff;
}

.overlay:hover{
    opacity: 1;
}


/* Notificação na tela */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}


/* Formulario de contato */


.container-form{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.container-form h1{
    color: #fff;
}

.container-form h1 span{
    color: red;
}

.form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#ff1c1c, #e24211) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: red;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: red;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  

/* Animações */

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}


@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes mover{
    0%{
        top: -20px;
    }
    100%{
        top: 20px;
    }
}



/* Responsivo Mobile */
@media (max-width: 1024px){
    /* Sobre */
    .container-sobre{
        flex-direction: column;
        height: 100%;
    }

    .info-sobre{
        width: 100%;
        padding: 5px;
    }

    .img-profile{
        width: 300px;
    }

    /* Formação */
    .container-formacao{
        flex-direction: column;
        height: 100%;
    }

    .img-formacao{
        width: 300px;
    }

    .info-formacao{
        width: 100%;
        padding: 5px;
    }

    /* Porfolio */
    .projetos{
        padding: 40px 5%;
    }

    .projetos .flex{
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Contato */
    .form-container {
        width: 300px;
      }
}

